<a href="https://colab.research.google.com/github/Bathulahepsi/python-lab/blob/main/19A21B0506.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 B.Hepsi.       
 19A21B0506.  
 CSE-SHIFT

EXCERSICE-1
A.WRITE PROGRAM IN INTERACTIVE,INTERPRETER,PYHON SCRIPT MODE.
B.Write a program to purposefully raise Indentation Error and Correct it.

 a=69      
b=99  
a,b=b,a  
print(a,b)

In [ ]:
2
5

5

 a=input("enter a vlaue:")   
b=input("enter b value:")    
c=a+b;   
print("sum is ",c,sep="\t")    
c=int(a)+int(b)       
print("sum of {} and {} is :     {}".format(a,b,c))     
print("sum of %s and %s is:%d"%(a,b,c))     
x=20    
y=143      
z=x+y;       
print("sum is",z,sep='\t' )

In [ ]:
20
10

10

 print("welcome to python")    
a=40     
b=90     
print("the value of a:",a)      
print("the value of b :",b)    
if(a>b):       
       print("a is big");     
       print("ifbblock ends")     
else:    
            print("b is big")    
            print("elseblock ends")

In [ ]:
10
10

10

EXERCISE-2    
A.COMPUTE DISTANCE BETWEEN TWO POINTS.  
B.TAKE TWO NUMBERS ON COMMAND LINE ARGUMENTS AND PRINT THE SUM.

x1=10    
x2=70     
y1=14     
y2=30     
z=(pow((x2-x1),2)+pow((y2-y1),2))**0.5 
print(z)

In [ ]:
20
30

30

 50  
import math     
x1=int(input("enter  x1 value:"))  
x2=int(input("enter  x2 value:"))   
y1=int(input("enter  y1 value:"))    
y2=int(input("enter  y2 value:"))  
z=math.sqrt((x2-x1)**2+(y2-y1)**2)  
print("the distance between two points     is :",z)      
print("the distance between two points is :",z,sep='\t')  
print("the distance between ({}, {})and ({},{}) is  :{}".format(x1,y1,x2,y2,z)) 
 
print("the distance between (%d, %d)and (%d,%d) is  :%f"%(x1,y1,x2,y2,z))

In [ ]:
30
40

40

EXCERSCISE-3   
A) Write a Program for checking whether the given number is an even number or not.      
b) Using a for loop, write a program that prints out the decimal equivalents of 1/2, 1/3, 1/4, . . .1/10      
c) Write a program using a for loop that loops over a sequence. What is sequence?      
d) Write a program using a while loop that asks the user for a number, and prints a countdownfrom that number to zero

 n=int(input("enter a number:"))   
if (n%2)==0:   
        print("given number is even")  
else:   
      print("given number is odd")

In [ ]:
10
5

5

n=int(input("enter a number:"))   
for i in range(2,n):  
    de=1/i;   
    print("1/"+str(i)+"=",de)

In [ ]:
6
6

6

arr=[4,"abc",-45,'C',10.5,True,5,10.6,"XYZ"]  
Print("Given Array:",arr)    
for X in arr:   
Print(X)

In [ ]:
5
5

5

 #program using a for a loop that loops over a sequence    
print("loop sequence")    
num=[45,25,2,28,3,25]    
for i in num:    
    print(i)     
 
#string sequence     
print("string sequence")      
days=["sun","mon","tue","wed","thur","fri","st"]    
for d in days:    
    print(d)   
    
#bothh sequence    
print("sequence")   
arr=[123,"abc",5.6,'h',-33,"xy",True]   
for x in arr:   
      print(x)

In [ ]:
20
20

20

 #countdown seq    
n=int(input("enter the numbr:"))   
while n>0:    
      print(n)   
      n=n-1

In [ ]:
10
10

10

 EXCERCISE-4.     
a) Find the sum of all the primes below two million. Each new term in the Fibonacci sequence is generated by adding the previous two terms. Bystarting with 1 and 2, the first 10 terms will be: 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ....      
b) By considering the terms in the Fibonacci sequence whose values do not exceed four million,find the sum of the even-valued terms.

 n=int(input("enter a num:"))    
a=1    
b=0     
c=a+b     
st=""    
sum=0     
con=0      
while con<=n:        
    st+=""+str(c)     
    sum+=c              
    a=b    
    b=c      
    c=a+b      
    con+=1  
print(st)     
print("sum of fibonacii series:",sum)

In [ ]:
50
50

50

 n=int(input("enter a number:"))    
c=0    
 
 
st=""     
sum=0       
 
for i in range(2,n):    
 state=True     
for j in range(2,i):       
 if(i%j==0):    
       state=False    
        break;     
if state==True:     
            st+=""+str(i)     
            c+=1   
            sum+=i   
 
print("prime numbers")   
print(st)      
 
print("total count of the prime numbers:",c)     
print("sum of all prime nums:",sum)

In [ ]:
30
30

30

 EXCERCISE-5.    
DS.  
a) Write a program to count the numbers of characters in the string and store them in adictionary data structure.    
b) Write a program to use split and join methods in the string and trace a birthday with adictionary data structure.

 name=input("enter a name:")    
dic={}   
for ch in name:   
    keys=dic.keys()   
 
    if(ch in keys):   
        dic[ch]=dic[ch]+1    
    else:    
        dic[ch]=1     
 
print("dictinarry is:",dic)

In [ ]:
20
20

20

 dob={"Mouni":"14-04-2002","Keerthi":"01-11-2001"}   
name=input("enter which person dob u want:")     
l=name.split()    
birth=""    
for i in l:    
    if i in dob.keys():      
        pers=i    
 
print("".join([pers,"birthdayis:",dob[pers]]))

In [ ]:
14
1

1

 EXERCISE-6      
DS - Continued.      
a) Write a program combinelists that combines these lists into a dictionary.   
b) Write a program to count frequency of characters in a given file. Can you use character frequency to tell whether the given file is a Python program file, C program file or a text file?

 sub=["daa","os","dbms","p&s","ppl","se"]   
marks=[87,93,60,85,88,99]    
print(sub) 
print(marks)   
dic=dict(zip(sub,marks))   
print(dic)

In [ ]:
100
100

100

 filetypes=['.py','.c','.txt'] 
fn=input("enter a fikle name:")    
f=open(fn,"r")   
count=dict()    
for  ft in filetypes:    
     if(ft in  fn):       
           if(ft==".py"):       
             print("python file")     
           elif(ft==".c"):     
             print("cfile")  
           elif(ft==".txt"):       
             print("text file")  
 
 
for line in f:     
     for ch in line:     
          if ch in count:    
               count[ch]=count[ch]+1   
 
          else:      
              count[ch]=1   
 
 
print(count)     
f.close()

In [ ]:
90
90

90

 EXCERCISE-7.  
7 files.   
a) Write a program to print each line of a file in reverse order.   
b) Write a program to compute the number of characters, words and lines in a file.

 obj=open("abc.txt","r")  
if obj:  
    st=obj.read()      
    print("file content is:")    
obj.close()      
 
print()    
lines=st.split('\n')    
 
for ln in lines:    
    i=len(ln)-1     
    while(i>=0):   
      print(ln[i],end='')     
      i=i-1     
    print()

In [ ]:
10
20

20

 obj=open("sam.txt","r")     
if obj:   
    st=obj.read()     
    print("file content is:")    
obj.close()    
print()   
nc=nw=nl=0      
for ch in st:    
    if(ch):    
        nc=nc+1     
    if(ch==''):  
        nw=nw+1    
    if(ch=='\n'):       
        nl=nl+1   
 
print("number of characters in a file:",nc)    
print("number of words in file is:",nw)  
print("number of lines ins file:",nl)

In [ ]:
30
30

30

 EXCERCISE-8    
8 Functions'.   
a) Write a function ball collide that takes two balls as parameters and computes if they arecolliding. Your function should return a Boolean representing whether or not the balls arecolliding. Hint: Represent a ball on a plane as a tuple of (x, y, r), r being the radius If (distance between two balls centers) <= (sum of their radii) then (they are colliding).    
b) Find mean, median, mode for the given set of numbers in a list.

 import math     
def ballcollide(b1tup,b2tup):  
    x1=b1tup[0]      
    y1=b1tup[1]  
    x2=b2tup[0]   
    y2=b2tup[1]   
    r1=b1tup[2]   
    r2=b2tup[2]    
 
 
    d=math.sqrt((x2-x1)**2+(y2-y1)**2)  
    if(d<=r1+r2):  
      return True     
    else:   
        return False     
 
 
ball1=(1,2,3)  
ball2=(3,2,1)     
c=ballcollide(ball1,ball2)    
if(c):     
    print("balls are collided")   
else:     
    print("ball are not collided")

In [ ]:
1
2

2

 def mean(num_list):    
    return sum(num_list)/len(num_list)  
def median(num_list):    
    num_list.sort() 
    print(num_list)    
    n=len(num_list) 
    print("total",n)  
    mid=n//2     
    print("mid:",mid)     
    if(n%2==0):     
        return num_list[mid]   
    else:   
        return (num_list[mid-1]+num_list[mid])/2    
def mode(num_list):    
    num_list.sort()    
    temp=[]    
    i=0   
    while i<len(num_list): 
        temp.append(num_list.count(num_list[i])) 
        i+=1 
    dic=dict(zip(num_list,temp)) 
    modes={k for k, v in dic.items()  if(v==max(temp))}  
    return modes 
list=[1,1,2,2,3,4,5,3,3] 
print("mean of guive list:",mean(list)) 
print("median of guive list:",median(list)) 
 
print("mode of guive list:",mode(list))

In [ ]:
6
6

6

 Exercise - 9 
Functions - Continued    
a) Write a function nearly equal to test whether two strings are nearly equal. Two strings a and bare nearly equal when a can be generated by a single mutation on b. 
b) Write a function dup to find all duplicates in the list. 
c) Write a function unique to find all the unique elements of a list.

 def nearlyeq(str1,str2): 
    count=0 
    i=j=0 
    ss=0 
    while(i<len(str1)and j<len(str2)): 
        if(str1[i]!=str2[j]): 
            count+=1 
        if(len(str1)>len(str2)): 
            i+=1 
 
        elif(len(str1)==len(str2)): 
            pass 
        else: 
            i-=1      
        if(count>1):  
             ss-=1 
             
        i+=1  
        j+=1  
        if(count<2): 
             ss+=1 
 
    return ss 
s1=input("enter a string 1:") 
s2=input("enter the string2:") 
t=nearlyeq(s1,s2) 
if(t>1): 
    print("neraly equal0") 
else: 
    print("not nearly equal")

In [ ]:
3
3

3

def dup(list): 
  list1=[] 
  for i in list: 
    count=list.count(i) 
    if(count>1 and (i not in list1)): 
        list1.append(i) 
        
  print("the dups int he list are:",list1)         
list2=[1,2,1,2] 
 
dup(list2)

In [ ]:
2
2

2

def unique(list1): 
  list2={} 
 
  for i in list1: 
    c=list1.count(i) 
    if c==1: 
      list2[i]=c 
  print("the unique elements in the list are:",list2) 
 
list=[1,2,3,45,45,6,88,88,9] 
unique(list)

In [ ]:
45
45

45

Exercise - 10 
Functions - Problem Solving 
a) Write a function cumulative product to compute cumulative product of a list of numbers.  
b) Write a function reverse to reverse a list. Without using the reverse function.  
c) Write function to compute gcd, lcm of two numbers. Each function shouldn’t exceed one line

 def cumulative_product(list1,n): 
    list2=[] 
    i=0 
    list2.append(list1[i]) 
    for i in range(1,n): 
        v=list1[i]*list2[i-1] 
        list2.append(v) 
        
    print(list2) 
list3=[] 
n=int(input("enter size :")) 
print("enter the data:") 
for i in range(0,n): 
    x=int(input()) 
    list3.append(x) 
cumulative_product(list3,n)

In [ ]:
4
4

4

 def reverse_list(numlist): 
    temp=list1[::-1]  
    numlist=temp  
    return temp  
list1=[1,2,3,4] 
print("giiven list is :",list1) 
print("after reverse function:",reverse_list(list1)) 
print("after list is:",list1)

In [ ]:
8
8

8

 gcd=lambda a,b: a if b==0 else gcd(a,a%b) 
lcm=lambda a,b: (a*b)/gcd(a,b) 
 
x=2 
y=32 
print("gcd=",gcd(x,y)) 
print("lcm=",lcm(x,y))

In [ ]:
1
1

1

Exercise-11-Multi-D-Lists. 
 
a) write a program that defines a matrix and prints  
                    b) write a program to perform addition of two square matrices.  
c) write a program to perform multiplication of two square matrices

 matA=[[]]  
rows=int(input("Enter row size of matrix: "))   
cols=int(input("Enter column size of matrix: "))   
matA=[[int(input("Enter[%d,%d] value: "%(i,j)))for j in range(cols)]for i in range(rows)]    
print("matrix is: ")   
for i in range(rows):    
  for j in range(cols):    
    print(matA[i][j],end='\t')    
  print()

In [ ]:
9
9

9

def matRead(r,c): 
  return[[int(input("[%d,%d]value:"%(i,j)))for j in range(c)]for i in range(r)] 
def matDisp(mat,r,c): 
  for i in range(r): 
    for j in range(c): 
      print(mat[i][j],end='\t') 
    print() 
matA=[[]] 
matB=[[]]        
matSum=[[]]  
rows=int(input("Enter row size of the matrix: ")) 
cols=int(input("Enter column size of the matrix: "))
if rows==cols:
  print("Enter Matrix-A elements: ")
  matA=matRead(rows,cols)
 
  print("Enter Matrix-B elements: ")
  matB=matRead(rows,cols)
 
  print("Matrix-A is: ")
  matDisp(matA,rows,cols)
 
  print("Matrix-B is: ")
  matDisp(matB,rows,cols)
  matSum=[[matA[i][j]+matB[i] [j]for j in range(cols)]for i in range(rows)] 
  print("sum of matrices is: ") 
  matDisp(matSum,rows,cols) 
else: 
  print("Matrices addition is not possible")

In [ ]:
5
5

5

def  matRead(r,c):   
  return[[int(input("[%d,%d]value: "%(i,j)))for j in range(c)]for i in range(r)] 
def matDisp(mat,r,c): 
  for i in range(r): 
    for j in range(c): 
      print(mat[i][j],end='\t') 
matA=[[]] 
matB=[[]] 
matMul=[[]] 
rows=int(input("Enter row size of the Matrix: ")) 
cols=int(input("Enter column size of the Matrix: ")) 
 
if rows==cols:  
  print("Enter Matrix-A: ") 
  matA=matRead(rows,cols) 
  print(" Enter Matrix-B: ") 
  matB=matRead(rows,cols) 
 
  matMul=[[0 for j in range(cols)]for i in range(rows)] 
  for i in range(rows): 
    for j in range(cols): 
      for k in range(cols): 
        matMul[i][j]+=matA[i]  [k]*matB[k][j] 
  print("Matrix-A is: ") 
  matDisp(matA,rows,cols) 
 
  print("Matrix-B is: ") 
  matDisp(matB,rows,cols) 
  
  print("Multiplication of matrices is: ") 
  matDisp(matMul,rows,cols) 
else: 
  print("Matrices Multiplication is not possible is")

In [ ]:
70
50

50

Exercise-13-OOP
 
a) class variables and instance variable and illustration of the self -variable

 class Robot: 
    what="Machine" 
    name="Chitti" 
    version=1.0 
    speed="1THz" 
    memory="1ZB" 
 
    def update(upd): 
        upd.version=2.0 
        upd.speed="2THz" 
        upd.memory="2ZB" 
 
    def disp(self): 
        print("Myself is a",robj.what) 
        print("MyName is a",robj.name) 
        print("Version :",robj.version) 
        print("Speed : ",robj.speed) 
        print("Memory: ",robj.memory) 
 
robj=Robot() 
robj.disp() 
 
print("---------------Update---------") 
robj.update() 
robj.disp()

In [ ]:
10
20

20

class ATM: 
    def __init__(self): 
        self.balance=0 
        print("New Account") 
        
    def enquire(self): 
        print("Balance: ",self.balance) 
        
    def deposit(self): 
        amount=int(input("Enter the Deposit Amount:")) 
        self.balance+=amount 
        self.enquire() 
 
    def withdraw(self): 
        amount=int(input("Enter the Withdraw Amount: ")) 
        if self.balance<amount: 
            print("Insufficient Balance.....!") 
        else: 
            self.balance-=amount 
            self.enquire() 
 
aobj=ATM() 
while(True): 
    print("*****Menu****") 
    print("1.Deposit") 
    print("2.Withdarw") 
    print("3.Balance") 
    print("0.Exit") 
    ch=int(input("Enter Your Choice: ")) 
    if ch==0: 
        break 
    elif ch==1: 
        aobj.deposit() 
    elif ch==2: 
        aobj.withdraw() 
    elif ch==3: 
        aobj.enquire() 
    else: 
        print("Invalid choice:") 
        pass

In [ ]:
1000
1000

1000